$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';

/* Space out content a bit */
body {

}

.header,
.footer {
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 30px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

#main {
  margin-left: auto;
  margin-right: auto;
  #paint {
    img {
      border: 1px solid lightgray;
      margin: 0 auto;
    }
    width: 650+100px;
    padding: 30px 50px;
    float: left;
    border: 1px solid black;
    margin-bottom: 30px;
  }
  #ui {
    background: rgba(180, 180, 230, 0.4);
    width: 330px;
    margin-left: 30px;
    float: left;
    padding: 15px;
    ul {
      padding: 5px;
      background: white;
      overflow: auto;
      width: 300px;
      height: 200px;
      list-style: none;
    }
    li {
      border-bottom: 1px solid rgba(180, 180, 230, 0.8);
      font-size: 1em;
    }
    img{
      width: 48px;
      height: 48px;
      margin-right: 5px;
    }
    input{
      float:right;
      margin: auto 5px;
      height: 48px
    }
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
  clear: both;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 1200px;
  }

  /* Remove the padding we set earlier */
  .header,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }

}
