<div class="header">
    <ul class="nav nav-pills pull-right">
        <li class="active"><a ng-href="#">Home</a></li>
        <li><a ng-href="#">About</a></li>
        <li><a ng-href="#">Contact</a></li>
    </ul>
    <h3 class="text-muted">AkaPenSensei</h3>
</div>

<div id="main">
    <div id="page-controller">
        <pagination boundary-links="true" total-items="totalItems" ng-model="currentPage" items-per-page="1"
                    max-size="16"
                    previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"
                    ng-change="pageChanged()"></pagination>
        <input type="number" ng-model="currentPage">
        <button ng-click="reset()">全消し</button>
    </div>
    <div id="paint">
        <img ng-src="{{src}}">
        <canvas drawing width="750px" height="1000px"></canvas>
    </div>
    <div id="ui">
        <ul>
            <li><img src="images/yeoman.png">yeoman<input type="checkbox"></li>
            <li><img src="images/yeoman.png">yeoman<input type="checkbox"></li>
            <li><img src="images/yeoman.png">yeoman<input type="checkbox"></li>
            <li><img src="images/yeoman.png">yeoman<input type="checkbox"></li>
            <li><img src="images/yeoman.png">yeoman<input type="checkbox"></li>
            <li><img src="images/yeoman.png">yeoman<input type="checkbox"></li>
            <li><img src="images/yeoman.png">yeoman<input type="checkbox"></li>
            <li><img src="images/yeoman.png">yeoman<input type="checkbox"></li>
            <li><img src="images/yeoman.png">yeoman<input type="checkbox"></li>
            <li><img src="images/yeoman.png">yeoman<input type="checkbox"></li>
            <li><img src="images/yeoman.png">yeoman<input type="checkbox"></li>

        </ul>
        <textarea placeholder="コメントを入力してね"></textarea>
        <ul>
            <li><h4><img src="../images/yeoman.png">yeoman</h4>

                <p>この漫画は最高だ！</p></li>
            <li><h4><img src="../images/yeoman.png">yeoman</h4>

                <p>この漫画は最高だ！</p></li>
            <li><h4><img src="../images/yeoman.png">yeoman</h4>

                <p>この漫画は最高だ！</p></li>
            <li><h4><img src="../images/yeoman.png">yeoman</h4>

                <p>この漫画は最高だ！</p></li>
            <li><h4><img src="../images/yeoman.png">yeoman</h4>

                <p>この漫画は最高だ！</p></li>
            <li><h4><img src="../images/yeoman.png">yeoman</h4>

                <p>この漫画は最高だ！</p></li>
            <li><h4><img src="../images/yeoman.png">yeoman</h4>

                <p>この漫画は最高だ！</p></li>

        </ul>
    </div>
</div>

<div class="footer">
    <p>@firstforest</p>
</div>